{{#> AuthContainer title="Вход"}}
  <form class="login-form">
    {{{InputLogin}}}
    {{{InputPassword}}}
    <div class="login-form__buttons">
      {{{ButtonSubmit}}}
      {{{ButtonRegist}}}
    </div>
  </form>
{{/AuthContainer}}
