Также следует создать файл .editorconfig, где будут описаны табы или пробелы, размер отступов, кодировка и другие общие для всех файлов
 проекта правила. Он поддерживает большое количество IDE и редакторов кода, чтобы у всех коллег был единый общий стиль всех файлов
Пример конфига:
[*]
indent_size = 4
indent_style = space

[*.json]
indent_size = 2 
