@import "../../styles//mixins.scss";

.regist-form {
  @include flex(flex-start, center, column);
}

.regist-form .input-wrapper {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.regist-form__buttons {
  @include flex(space-between, center, column, 14px);
  
  width: 100%;
  margin-top: 62px;
}
