<main class="profile-page">
    {{> NavBack}}
    <section class="data-wrapper">
        <form class="profile-form">
            <div class="profile-data">
                {{> ProfileAvatar name="Badruddi"}}
                {{> ProfilePassword}}
            </div>
            <div class="profile-actions">
                {{> Button className="profile-actions__save-password" label="Сохранить" type="primary"}}
            </div>
        </form>
    </section>
</main>
