{{#if isShowChatModal}}
  {{{ChatCreateModal}}}
{{/if}}
<div class="list-search">
  <div class="list-search__profile-link">
    {{{CreateNewChatButton}}}
    <div class="list-search__link">
      <span>Профиль</span>
      <img src="../../../link-icon.svg" alt="icon">
    </div>
  </div>
  {{{SearchInput}}}
</div>
<ul class="chats-list">
  {{#each chatComponents}}
    {{{ this }}}
  {{/each}}
</ul>
