<div class="list-search">
  <div class="list-search__profile-link">
    <span>Профиль</span>
    <img src="../../../link-icon.svg" alt="icon">
  </div>
  {{{SearchInput}}}
</div>
<ul class="chats-list">
  {{#each chatComponents}}
    {{{ this }}}
  {{/each}}
</ul>
