@use "../../styles/mixins" as *;

.profile-avatar {
    @include flex(center, center, column);

    text-align: center;

    &__name {
        @include text-md;

        margin-top: 21px;
        margin-bottom: 0;
    }
}

.profile-avatar__button {
    max-width: 130px;
}
