<div class="profile-info">
    <div class="profile-info__item">
        <span class="profile-info__name">Старый пароль</span>
        {{> Input inputName="old_password" type="password"}}
    </div>
    <div class="profile-info__item">
        <span class="profile-info__name">Новый пароль</span>
        {{> Input inputName="new_password" type="password"}}
    </div>
    <div class="profile-info__item">
        <span class="profile-info__name">Новый пароль</span>
        {{> Input inputName="confirm_password" type="password"}}
    </div>
</div>
